@import url('https://fonts.cdnfonts.com/css/cascadia-code');

* {
    font-family: 'Cascadia Code', sans-serif;
    color: #3e3d3d;
}

QTreeView {
    color: white;
    font-size: 16px;
    border: 2px solid #3e3d3d;
    min-width: 400px;
    max-width: 600px;
    border-radius: 7px;
}