@import url('https://fonts.cdnfonts.com/css/cascadia-code');


* {
    font-family: 'Cascadia Code', sans-serif;
    color: #fbf1c7;
}

QDialog {
    background-color: #2d2d2d;
}

QLabel {
    font-size: 12px;
}

QLineEdit {
    background-color: #2d2d2d;
    border: 1px solid white;
    padding: 2px;
    border-radius: 7px;
}

QPushButton {
    background-color: #353535;
    color: white;
    border-radius: 7px;
    padding: 2px;
    width: 80px;
}

QPushButton:hover {
    border: 1px solid #454545;
}