@import url('https://fonts.cdnfonts.com/css/cascadia-code');


* {
    font-family: 'Cascadia Code', sans-serif;
}

QWidget#welcome-page {
    padding: 5px;
    min-height: 1000px;
    min-width: 1000px;
}

QLabel {
    font-size: 40px;
    color: white
    /* background-color: black; */
}