@import url('https://fonts.cdnfonts.com/css/cascadia-code');


* {
    font-family: 'Cascadia Code', sans-serif;
}

QWidget#welcome-page {
    background-color: #1d2021;
    padding: 5px;
    min-height: 1000px;
    min-width: 1000px;
}

QLabel {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.8);
    /* background-color: black; */
}